.cabecalhoPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cabecalhoPrincipal-nav {
    display: flex;
}
.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}
.rodapePrincipal-patrocinadores-list{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-right: 5px;
    align-items: center;
}
.rodapePrincipal-navMap .rodapePrincipal-navMap-list{
    display: flex;
    flex-flow: column wrap;
    height: 250px;
}
.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}
.conteudoPrincipal-cursos-link {
    width: 23%;
    position: relative;
}
.videoSobre .container   {
    display: flex;
}
.videoSobre-sobre {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-grow: 1;
}
.videoSobre-sobre-list {
    flex-grow: 1;
}
.videoSobre-video {
    flex-grow: 1;
    flex-shrink: 2;
}

@media(max-width: 750px){
.cabecalhoPrincipal .container {
    flex-direction: column;
    align-items: initial;
    text-align: center;
}
.cabecalhoPrincipal-nav {
    flex-direction: column;
}

.conteudoPrincipal-cursos-link {
    width: 100%;
}
.conteudoPrincipal-cursos {
    flex-direction: column;
}

.rodapePrincipal-navMap .rodapePrincipal-navMap-list {
    height: auto;
}

.rodapePrincipal-patrocinadores .container {
    flex-direction: column;
}
.rodapePrincipal-patrocinadores-list {
    width: 100%;
    margin-right: 0;
}
.cabecalhoPrincipal-nav-link-app {
    order: -1;
}
.videoSobre .container {
    flex-direction: column;
}
.videoSobre-video {
    margin: 0 auto;
}
}